{
  "presets": [
    [
      "@babel/preset-react",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript",
    ["@babel/env", { "modules": false }]
  ],
  "env": {
    "production": {
      "compact": true,
      "comments": false,
      "minified": true
    }
  },
  "sourceMaps": true
}
